<div class="col mb-3">
    <h3 class="fw-bold fs-4">{{ 'sylius.footer.fourth_column_title'|trans }}</h3>
    <div class="d-flex flex-column align-items-start">
        <a class="text-body has-underline mb-1" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
        <a class="text-body has-underline mb-1" href="#">{{ 'sylius.ui.faqs'|trans }}</a>
        <a class="text-body has-underline mb-1" href="#">{{ 'sylius.ui.delivery_and_shipping'|trans }}</a>
        <a class="text-body has-underline mb-1" href="#">{{ 'sylius.ui.returns_policy'|trans }}</a>
    </div>
</div>
